<%= turbo_frame_tag("favorite-concerts") do %>
  <section 
      class="my-2 bg-gray-100"
      data-controller="css"
      data-css-css-class="shrink"
      data-css-status.value="false"
    >
    <div class="inline-block font-bold text-2xl md:text-3xl ">
      <div class="inline-block align-center px-2">
        My Favorites
      </div>
      <button
          class="align-center hover:bg-gray-200"
          data-controller="css-flip"
          data-css-flip-status-value="true"
          data-css-flip-off-class="is-closed"
          data-css-flip-on-class="is-open"
          data-action="click->css#toggle click->css-flip#toggle"
        >
        <%= image_tag("chevron-right.svg",
          width: 40,
          height: 40,
          class: "inline slow-transition",
          "data-css-flip-target": "elementToChange"
        ) %>
      </button>
    </div>
    <div data-css-target="elementToChange" class="resizer">
      <div class="text-xl font-bold" id="no-favorites">
        <% if current_user.favorites.empty? %>
          No favorite concerts yet
        <% end %>
      </div>
      <div id="favorite-concerts-list"
          data-controller="sort">
        <% current_user.favorites.includes(concert: :bands).sort_by(&:sort_date).each do |favorite| %>
          <%= render(favorite, animate_in: false) %>
        <% end %>
      </div>
    </div>
  </section>
<% end %>