<h1 class="text-2xl font-bold w-auto text-center md:text-4xl">
  Editing concert
</h1>

<%= turbo_frame_tag(dom_id(@concert)) do %>
  <%= render "form", concert: @concert %>
<% end %>

<br>

<div>
  <%= link_to("Back to concert", @concert, class: SimpleForm.button_class) %>
  <%= link_to("Back to Schedule", root_path, class: SimpleForm.button_class) %>
</div>
